@using RaviDataGlobe.HandsOnTraining.Web.helpers
@model IEnumerable<RaviDataGlobe.HandsOnTraining.Core.Domain.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expires)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </th>
        <th></th>
    </tr>
    <tbody data-bind="foreach : tasks">
        <tr >
            <td data-bind="text: Description"></td>
            <td data-bind="text: Expires"></td>
            <td data-bind="text: IsCompleted"></td>
            <td>
      
            </td>
        </tr>
    </tbody>
  

    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/knockout-2.3.0.debug.js"></script>
    
    <script>
        $(function() {
            var tasks = @Html.Raw(@Model.ToJsonArray());

            viewModel = {
                tasks:  ko.observableArray(tasks)               
            };

            ko.applyBindings(viewModel);
        });
    </script>
</table>
